<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MusicComposition",
  "name": "{{ page.title | escape }}",
  "composer": {
    "@type": "Person",
    "name": "{{ page.artist | split: '|' | first | strip | escape }}"
  },
  "lyrics": {
  "@type": "CreativeWork",
  "text": "{{ page.lyrics | strip_newlines | strip_html | escape }}"
  },
  "musicalKey": "{{ page.key | default: page.tags[0] | escape }}",
  "genre": "{{ page.genre | escape }}",
  "keywords": "{{ page.tags | join: ', ' }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "image": "{{ site.url }}{{ page.image | default: site.default_image }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.last_modified_at | default: page.date | date_to_xmlschema }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.logo }}"
    }
  }
}
</script>