<section class="latest-songs">
  <div class="main-wrapper">
    
    <h2>
      <div data-icon="new" style="margin-top:-4px; margin-right: 6px; font-size: 1.2em;"></div>
      Koleksi Chord Terbaru
    </h2>
    
    <p style="color: var(--text-muted); margin-top: 10px;">
      Mainkan juga chord terbaru dari Chordtales.
    </p>
    
    <div class="post-grid">
      {% assign sorted_chords = site.chords | sort: 'date' | reverse %}
      {% for song in sorted_chords limit: 10 %}
      <article class="post-card">
        <a href="{{ song.url }}">
          <h3 class="post-title">
            <span></span>
            {% assign clean_title = song.title | replace: "Kunci Gitar ", "" %}
            {{ clean_title }}
          </h3>
          <div class="post-card-header">
            <div class="post-meta">
              <p>Artis : {{ song.artist }}</p>
            </div>
            <span class="post-date">NEW ⭐</span>
            <!--<span class="post-date">{{ song.date | date: "%d %b %Y" }}</span>-->
          </div>
        </a>
      </article>
      {% endfor %}
    </div>
    
    <a href="/daftar-chords/" class="btn-more">Lihat Daftar Chord →</a>
    
  </div>
</section>