<section class="genre-section">
  <div class="main-wrapper">
    <h2><div data-icon="lainnya" style="margin-top: -4px; font-size: 1.3em; color: var(--text-muted); margin-right:10px;"></div>Berdasarkan Genre</h2>
    <p style="color: var(--text-muted); margin-bottom: 16px;">Pilih Lirik & Chord Sesuai Selera Musikmu Disini.</p>
    <div class="genre-grid">
      {%- for genre in site.data.genres -%}
        {%- assign count = site.chords | where: "categories", genre.name | size -%}
        
        <a href="/genre/{{ genre.name }}/" class="genre-cards">
          <h3><div data-icon="kategori"></div> {{ genre.title }}</h3>
          <p>{{ count }} Chord</p>
          <div class="genre-cover" style="background: var(--card-{{ genre.name }});"><div data-icon="{{ genre.icon }}"></div></div>
        </a>
      {%- endfor -%}
    </div>
  </div>
</section>