---
layout: default
---
<div class="chord-konten">
    <article class="article-chord">
        <div class="main-wrapper">
            {% include inc-chord/breadcrumbs.html %}
            {% include inc-chord/header-chord.html %}
            {% include inc-chord/diagram-bank.html %}
            {% include inc-chord/content-chord.html %}
        </div>
    </article>
    <aside class="sidebar-chord">
        {% include inc-chord/related-artis.html %}
        {% include rekomendasi.html %}
        <!--{% include inc-base/section-lates-song.html %}-->
    </aside>
</div>
{% include inc-chord/main-menu-bottom.html %}