<!DOCTYPE html>
<html lang="id">
<head>
  {% include inc-default/head.html %}
</head>
<body class="theme-dark">

  {% include inc-default/header.html %}

  <main>
    {{ content }}
  </main>

  {% include inc-default/footer.html %}

  <script src="{{ '/assets/js/chordtales-core.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/chordtales-renderer.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/chordtales-dispatcher.js' | relative_url }}" defer></script>
  <script src="{{ '/assets/js/chordtales-events.js' | relative_url }}" defer></script>
 
  <!-- <script defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1071319498684050" crossorigin="anonymous"></script> -->
  <script>(function(s){s.dataset.zone='11306910',s.src='https://nap5k.com/tag.min.js'})([document.documentElement, document.body].filter(Boolean).pop().appendChild(document.createElement('script')))</script>

  <script>(function(s){s.dataset.zone='11306844',s.src='https://n6wxm.com/vignette.min.js'})([document.documentElement, document.body].filter(Boolean).pop().appendChild(document.createElement('script')))</script>
  
  {% if page.layout == 'chord' %}
    {% include schema-blogposting.html %}
  {% endif %}
</body>
</html>
